.admin-text {
    color: #0F4FE6;
    font-size: 25px;
    font-family: "Times New Roman";
}
.admin-nav {
    background-color:gainsboro;
}
.small-header{
    height: 40px;
    background-color: black;
    border-bottom: 2px solid red;
}
.lang{
    padding-top: 8px;
}
.text-header{
    text-align: center;
    color: azure;
    padding-top: 8px;
}
.big-header{
    background-color: #afafaf;
    height: 100px;

}
/*.ski-header-img{*/
    /*background-image: url("https://kinglearjet.files.wordpress.com/2015/07/skiclipart.png");*/
    /*width: 100%;*/
    /*height: 110px;*/
    /*background-clip: padding-box;*/
    /*background-origin: padding-box; !*звідки буде відштовхуватися позиціонування*!*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
/*}*/

/*DROP DOWN*/

.ski-header-img {
    display: inline-block;
    width: 100%;
    height: 110px;
    margin: 0;
    background: url('https://kinglearjet.files.wordpress.com/2015/07/skiclipart.png');
    color: transparent;
    position: absolute;
    left: 0;
    top: 0; z-index: 2;
    background-size: contain;
    background-repeat: no-repeat;
}


.dropbtn {
    width: 100%;
    height: 100px;
    background-color: #afafaf;
    color: white;
    font-size: 15px;
    font-weight: bold;
    /*    margin-top: 20px;*/
    border: 1px solid #afafaf;
    cursor: pointer;
}

.dropdown {
    width: 100px;
    height: 100px;
    border:0px;
    outline:0px;
    /*
        position: relative;
        display: inline-block;
    */
}

.dropdown-content {
    /*    margin-left: 30px;*/
    width: 150px;
    font-size: 12px;
    display: none;
    position: absolute;
    right: 0;
    background-color: #afafaf;
    min-width: 100px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #afafaf;
    color: darkred;

}

/**SEARCH*!*/

.search-form .form-group {
    margin-top: 30px;
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color:white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 80%;
    border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: red;
    left: initial;
    font-size: 14px;
}


